@media screen and (max-width:768px) {
    
}

@media screen and (max-width:950px) {
    
}





@media screen and (max-width:576px) {
    .nav-container{
        margin-bottom: 200px;
    }
    .nav-container, .nav-items-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    .nav-icon-container{
        padding-bottom: 20px;
    }
    .nav-icon-container a, .nav-items-container a{
        margin-top: 20px;
    }

    .banner-container{ 
        flex-direction: column-reverse;
    }
    .banner-text-container{
        width: 100%;
        padding-top: 50px;
    }
    .banner-image img{
        height: 400px;
    }
    .cards-item-container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .single-card-text-image{
        flex-direction: column;
        margin-top: 1000px;
        justify-content: center;
    }
    .single-card-image > img{
        width: 250px;
        height: 250px;
    
    }
    .small-card-image > img{
        width: 100px;
        height: 100px;
        top: 190px;
        left: 190px;
    }
    .single-card-text {
        margin-top: 280px;
        padding: 0;
    }
    .menu-nav{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    /* .menu-nav-extra{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } */
}